<!DOCTYPE html>
<html>
<head>
	<title>.: Express Auth :.</title>
	<style>
		.box{
			display: grid;
			grid-template-columns: 50% 50%;
			max-width: 960px;
			margin-left: 100px;
			margin-right: 100px;
		}
		.black {
  background-color:#000;
  width:98vw;
  height:100vh;
  display:block;
  overflow:hidden;
  margin:0 auto;
}

}
.flakey{
  width:98vw;
  height:100vh;
  overflow:hidden;
  margin:0 auto;
}
	</style>
</head>
<div class="black">
<div class="flakey">
<body>
	<center>
	<h1>Test</h1>
	<hr>
	<div id="box">

		<div class="login">
			<div>
				<h3 style="color: white;">Login</h3>
				<div>
					<form action="/" method="post">
						<input type="text" name="logemail" placeholder="Email..." required="">
						<br><br>
						<input type="password" name="logpassword" placeholder="Password..." required="">
						<br><br>
						<input type="submit" value="Login Now!">
					</form>
				</div>
			</div>
		</div>

	<br><hr>

	
		<div id="signup">
			<div>
				<h3 style="color: white;">Sign Up</h3>
				<div>
					<form action="/" method="post">
						<input type="text" name="email" placeholder="Email..." required="">
						<br><br>
						<input type="text" name="username" placeholder="Username..." required="">
						<br><br>
						<input type="password" name="password" placeholder="Password..." required="">
						<br><br>
						<input type="password" name="passwordConf" placeholder="Confirm Password..." required="">
						<br><br>
						<input type="submit" value="Register Here!">
					</form>
				</div>
			</div>
		</div>
		
		</div>
	
</center>				
</body>
</div>
</div>

<script type="text/javascript"></script>
</html>